Repository jenkinsci/tekton-client-plugin, pull requests merged in 2021-05, with the labels that each got.

#144 fix: use empty string as a default value for params
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
Labels: bug

#136 chore: bump to beta
  README.md
  pom.xml
Labels: chore

#146 docs: added some basic pipeline usage docs
  docs/tutorial.md
Labels: documentation

#147 chore: improve logging when PipelineRun is started
  pom.xml
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
Labels: chore

#152 docs: create a simple installation guide
  docs/installation.md
Labels: documentation

#154 docs: add a link to the installation guide
  README.md
Labels: documentation

#155 docs: add the `checkout scm` step into the pipeline example
  docs/tutorial.md
Labels: documentation

#156 chore: set extra parameters during build
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRawTest.java
Labels: chore

#157 fix: correct the check title so duplicate checks are not received
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
Labels: bug

#158 feat: record a successful check at the end of a pipeline
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRawTest.java
Labels: enhancement

#160 feat: switch to RC for prerelease
  .mvn/maven.config
  pom.xml
Labels: enhancement

#163 docs: updated installation docs with parameters passed to pipelines
  docs/tutorial.md
Labels: documentation

#164 fix: record failure if pipelinerun fails to start
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRawMockServerTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/JenkinsTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRawMockServerTest.java
Labels: bug

#165 chore: switch to hamcreast asserts/matchers
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRawTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRawTest.java
Labels: chore

#166 fix: corrected running in a different namespace
  .github/workflows/e2e.yml
  pom.xml
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/TaskRunLogWatch.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/JenkinsFreestyleTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/JenkinsPipelineTest.java
Labels: bug

#168 fix: wait for pod to exist
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/PipelineRunLogWatch.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/TaskRunLogWatch.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/JenkinsFreestyleTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/JenkinsPipelineTest.java
Labels: bug

#172 chore: add a simple demo to the main page
  README.md
Labels: chore

#175 chore: add a pipeline test for multiple documents
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/JenkinsPipelineTest.java
Labels: chore

#178 docs: updated the roadmap post v1.0.0
  roadmap.md
Labels: documentation

#181 fix: corrected the NullPointerException when delete resource
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRaw.java
  src/main/resources/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRaw/config.jelly
Labels: bug

#187 fix: remove synchronized statement
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
Labels: bug

#192 docs: remove PipelineResource from tutorial
  docs/tutorial.md
Labels: documentation
