Repository jenkinsci/tekton-client-plugin, pull requests merged in 2021-04, with the labels that each got.

#115 fix: update labeler config to match at the start of the line
  .github/labeler.yml
Labels: bug

#114 fix: copy remote files locally if we are in a remote agent
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
Labels: bug

#118 build(deps): bump setup-java action to v2
  .github/workflows/cd.yaml
Labels: github_actions

#123 chore(deps): bump jx-release-version to 2.3.5
  .github/workflows/cd.yaml
Labels: chore, github_actions

#133 feat: simple pipeline integration
  .github/workflows/e2e.yml
  pom.xml
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/TektonUtils.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/ToolUtils.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRaw.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/PipelineRunLogWatch.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/TaskRunLogWatch.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/GlobalPluginConfigurationTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/TektonUtilsTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRawMockServerTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRawTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/JenkinsTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/mock/CreateRawMock.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/mock/FakeCreateRaw.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRawMockServerTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/mock/DeleteRawMock.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/PRLogWatchTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/TRLogWatchTest.java
  src/test/resources/org/waveywaves/jenkins/plugins/tekton/client/build/create/jx-pipeline.expanded.yaml
  src/test/resources/org/waveywaves/jenkins/plugins/tekton/client/build/create/jx-pipeline.yaml
  src/test/resources/org/waveywaves/jenkins/plugins/tekton/client/build/create/tekton-test-project.zip
  src/test/resources/org/waveywaves/jenkins/plugins/tekton/client/jxp/linux/jx-pipeline-effective
  src/test/resources/org/waveywaves/jenkins/plugins/tekton/client/jxp/mac/jx-pipeline-effective
  src/test/resources/org/waveywaves/jenkins/plugins/tekton/client/jxp/windows/jx-pipeline-effective
Labels: In progress, enhancement, github_actions

#132 chore(deps): bump jenkins from 2.249.1 to 2.263.1
  pom.xml
Labels: chore

#135 chore(deps): bump tekton-client to 5.3.1
  pom.xml
Labels: chore

#141 feat: add some default parameters when starting a pipelinerun
  pom.xml
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/TektonUtils.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/PipelineRunLogWatch.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRawMockServerTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/mock/CreateRawMock.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/mock/FakeCreateRaw.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRawMockServerTest.java
Labels: enhancement

#142 chore: improve logging output in console
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/PipelineRunLogWatch.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/logwatch/TaskRunLogWatch.java
Labels: chore
