Repository jenkinsci/tekton-client-plugin, pull requests merged in 2021-03, with the labels that each got.

#72 chore: updated plugin badges to those in the plugin archetype
  README.md
Labels: chore

#76 chore: enable the 'download-binaries' profile by default
  .mvn/maven.config
Labels: chore

#82 chore: improvements to e2e testing
  .github/workflows/e2e.yml
  Dockerfile
  plugins.txt
Labels: test/e2e

#93 chore: enable release on interesting
  .github/workflows/cd.yaml
Labels: chore

#94 fix: for loading configuration values
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
Labels: bug

#102 chore: improve labeler rules
  .github/labeler.yml
Labels: chore

#104 chore: add comment around jx-release-version
  .github/workflows/cd.yaml
Labels: In progress, chore, github_actions

#105 chore: remove the mergeable: false check for wip PRs
  .github/labeler.yml
Labels: In progress, chore

#100 feature: Add k8s cluster configs to GlobalConfiguration
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/GlobalPluginConfiguration.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/TektonUtils.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateCustomTaskrun.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/mock/CreateRawMock.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/mock/FakeCreateRaw.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRaw.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/mock/DeleteRawMock.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/global/ClusterConfig.java
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/global/TektonGlobalConfiguration.java
  src/main/resources/org/waveywaves/jenkins/plugins/tekton/client/GlobalPluginConfiguration/config.jelly
  src/main/resources/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateCustomTaskrun/config.jelly
  src/main/resources/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw/config.jelly
  src/main/resources/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRaw/config.jelly
  src/main/resources/org/waveywaves/jenkins/plugins/tekton/client/global/ClusterConfig/config.jelly
  src/main/resources/org/waveywaves/jenkins/plugins/tekton/client/global/TektonGlobalConfiguration/config.jelly
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRawMockServerTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRawTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRawMockServerTest.java
  src/test/java/org/waveywaves/jenkins/plugins/tekton/client/build/delete/DeleteRawTest.java
Labels: In progress, enhancement

#112 chore: remove fixed versions from 'test jenkins' until plugin install…
  plugins.txt
Labels: bug, chore

#113 fix: handle running better outside of the controller
  pom.xml
  src/main/java/org/waveywaves/jenkins/plugins/tekton/client/build/create/CreateRaw.java
Labels: bug
